<app-header></app-header>

<main>
  <header class="resale-header">
    <h1>Anúncios</h1>
    <div class="resale-header-buttons">
      <button type="button" class="btn btn-lg btn-export" (click)="export()">
        <i class="bi bi-file-earmark-arrow-down"></i> Exportar
      </button>
      <button
        type="button"
        class="btn btn-lg btn-adc"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        <i class="bi bi-file-earmark-plus"></i> Cadastrar novo carro
      </button>
    </div>
  </header>

  <!-- Modal adicionar -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h1 class="modal-title fs-5 title-modal">Cadastrar Carro</h1>
        </div>
        <div class="modal-body">
          <form [formGroup]="form">
            <div id="inicio" class="input-group mb-3 inputs">
              <label
                >Modelo:

                <input
                  type="text"
                  class="form-control"
                  placeholder="Qual o modelo do carro?"
                  formControlName="modelo"
                  name="modelo"
                  required
                />
                <p
                  class="mensagem-erro"
                  role="alert"
                  *ngIf="errors && errors.errors && errors.errors['Modelo']"
                >
                  informe um modelo de carro válido.
                </p>
              </label>
              <label>
                Preço:
                <input
                  type="text"
                  class="form-control"
                  placeholder="Qual o preço do carro?"
                  formControlName="preco"
                  name="preco"
                  required
                />
                <p
                  class="mensagem-erro"
                  role="alert"
                  *ngIf="errors && errors.errors && errors.errors['$.preco']"
                >
                  informe um valor válido.
                </p>
                <p
                  class="mensagem-erro"
                  role="alert"
                  *ngIf="errors && errors.errors && errors.errors['Preco']"
                >
                  informe um valor válido.
                </p>
              </label>
              <label class="form-group">
                <label for="anoInput">Qual o ano do carro?</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Informe um ano entre 1950 e 2025"
                  maxlength="4"
                  formControlName="ano"
                />
              </label>

              <div class="form-group">
                <label for="exampleCombobox">Selecione:</label>
                <select
                  class="form-control"
                  id="exampleCombobox"
                  formControlName="portas"
                >
                  <option value="" disabled selected hidden>
                    Quantas portas tem o carro?
                  </option>
                  <option value="2">2 Portas</option>
                  <option value="4">4 Portas</option>
                </select>
              </div>
            </div>
          </form>
          <div class="buttons">
            <button
              type="button"
              class="btn btn-lg btn-adc-car"
              (click)="create()"
              [disabled]="form.invalid"
            >
              Adicionar
            </button>
            <button
              type="button"
              class="btn btn-primary btn-lg btn-voltar"
              data-bs-dismiss="modal"
            >
              Fechar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="container-table">
    <app-table [dados]="dados"></app-table>
  </section>
</main>
