.content {
  height: 50vh;
  display: flex;
  padding-left: 2vw;
  position: relative;
  background-color: black;
  flex-direction: column;
}

.content-title {
  color: #fff;
  max-width: 40vw;
  font-size: 4vw;
  font-weight: 100;
  text-align: justify;
  color: #8a8a8a;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0vh;
  left: 5vw;
}

.content-figure {
  display: flex;

  top: 10vh;
}

.content-figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
