<section>
  <div class="label-box">
    <label class="col-form-label"
      >Mostrar
      <select
        name="numero"
        class="form-select-md select-size-page"
        (change)="pageSize(size)"
        [(ngModel)]="size"
      >
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
      </select>
      entradas
    </label>
  </div>
  <div class="input-group mb-3 search-box">
    <input
      class="form-control-lg me-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
      [(ngModel)]="modelSearch"
      (keyup)="searchModel(modelSearch)"
    />
  </div>
</section>
<!-- Tabela -->
<div class="table-responsive">
  <table
    id="tableDados"
    class="table table-dark table-striped table-hover align-middle"
  >
    <thead>
      <th class="text-center">Modelo</th>
      <th class="text-center">
        Preço
        <input
          type="button"
          (click)="sortByPrice()"
          class="btn order-btn"
          value="▼"
          style="font-size: 0.8em"
        />
      </th>
      <th class="text-center">Ano</th>
      <th class="text-center">Portas</th>
      <th class="text-center">Criado</th>
      <th class="text-center">Atualizado</th>
    </thead>
    <tbody>
      <tr *ngFor="let v of dados">
        <td class="text-center">{{ v.modelo || "" }}</td>
        <td class="text-center">R${{ v.preco?.toFixed(2) }}</td>
        <td class="text-center">{{ v.ano }}</td>
        <td class="text-center">{{ v.portas }}</td>
        <td class="text-center">
          {{ v.criadoEm | date : "dd/MM/yyyy" }}
        </td>
        <td class="text-center">
          {{ v.atualizadoEm | date : "dd/MM/yyyy" }}
        </td>
        <td>
          <button
            type="button"
            class="btn btn-lg btn-edit"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal2"
            (click)="alterar(v.id)"
          >
            <i class="bi bi-pencil-square"></i> Editar
          </button>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-lg teste2 btn-delete"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal3"
            (click)="alterar(v.id)"
          >
            <i class="bi bi-trash-fill"></i> Excluir
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container-pagination">
  <ul class="pagination">
    <li class="page-item" (click)="etapaAnterior()">
      <a class="page-link" aria-label="Previous" text-dark>
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item custom-page-item">
      <p class="page-link btn-lg" *ngIf="etapa === 0">1</p>
      <p class="page-link btn-lg" *ngIf="etapa !== 0">{{ etapa + 1 }}</p>
    </li>

    <li class="page-item" (click)="proximaetapa()">
      <a class="page-link" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</div>
<!-- modal editar -->
<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h1 class="modal-title fs-5 title-modal">Editar</h1>
      </div>
      <div class="modal-body">
        <form [formGroup]="formEdit" (submit)="updateCar()">
          <div id="inicio" class="input-group mb-3 inputs">
            <label
              >Modelo:

              <input
                type="text"
                class="form-control"
                placeholder="Qual o modelo do carro?"
                formControlName="modelo"
                name="modelo"
                required
              />
            </label>
            <label>
              Preço:
              <input
                type="text"
                class="form-control"
                placeholder="Qual o preço do carro?"
                formControlName="preco"
                name="preco"
                required
              />
            </label>
            <label class="form-group">
              <label for="anoInput">Qual o ano do carro?</label>
              <input
                type="text"
                class="form-control"
                placeholder="Informe um ano entre 1950 e 2025"
                maxlength="4"
                formControlName="ano"
              />
            </label>
            <div class="form-group">
              <label for="exampleCombobox">Selecione:</label>
              <select class="form-control" formControlName="portas">
                <option value="" disabled selected hidden>
                  Quantas portas tem o carro?
                </option>
                <option value="2">2 Portas</option>
                <option value="4">4 Portas</option>
              </select>
            </div>
          </div>
          <div class="buttons">
            <button
              type="submit"
              class="btn btn-lg btn-edit-modal"
              data-bs-dismiss="modal"
              [disabled]="formEdit.invalid"
            >
              Editar
            </button>
            <button
              type="button"
              class="btn btn-primary btn-lg btn-voltar"
              data-bs-dismiss="modal"
            >
              Fechar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- formDelete -->
<div
  class="modal fade"
  id="exampleModal3"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h1 class="modal-title fs-5 title-modal">Excluir Carro</h1>
      </div>

      <div class="modal-header">
        <p class="modal-title fs-5 title-modal">
          Tem certeza que quer excluir o registro abaixo?
        </p>
      </div>
      <div class="modal-body">
        <form [formGroup]="formEdit" (submit)="deleteCar()">
          <div id="inicio" class="input-group mb-3 inputs">
            <label
              >Modelo:

              <input
                type="text"
                class="form-control"
                placeholder="Qual o modelo do carro?"
                formControlName="modelo"
                name="modelo"
                readonly
              />
            </label>
            <label>
              Preço:
              <input
                type="text"
                class="form-control"
                placeholder="Qual o preço do carro?"
                formControlName="preco"
                name="preco"
                readonly
              />
            </label>
            <label>
              Ano:
              <input
                type="text"
                class="form-control"
                placeholder="Qual o ano do carro?"
                formControlName="ano"
                name="ano"
                readonly
              />
            </label>
            <label>
              Portas
              <input
                type="text"
                class="form-control"
                placeholder="Quantas portas tem o carro?"
                formControlName="portas"
                name="portas"
                readonly
              />
            </label>
          </div>
          <div class="buttons">
            <button
              type="submit"
              class="btn btn-danger btn-lg btn-delete-modal"
              data-bs-dismiss="modal"
            >
              excluir
            </button>
            <button
              type="button"
              class="btn btn-primary btn-lg btn-voltar-delete"
              data-bs-dismiss="modal"
            >
              Fechar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
