section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 7rem;
}

.search-box {
  width: 25.5rem;
  height: 4rem;
}
.search-box input {
  height: 100%;
  width: 100%;
}
.container-pagination {
  display: flex;
  justify-content: flex-end;
}
.label-box {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.label-box label {
  font-size: 1.4rem;
}
.custom-page-item a {
  height: 100%;
  font-size: 1.6rem;
  cursor: pointer;
}
.custom-page-item p {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
label {
  color: #fff;
  font-weight: 100;
}
select {
  background-color: black;
  color: #fff;
  font-weight: 100;
  text-align: center;
}
th {
  font-weight: 300;
  color: #fff;
  font-family: "Roboto Mono", monospace;
  font-size: 1.6rem;
}
td {
  font-family: "Roboto Mono", monospace;
  font-weight: 100;
  font-size: 1.6rem;
}
a {
  cursor: pointer;
}
.order-btn {
  background-color: black;
}
.btn-edit {
  background-color: #2f4f4f;
  border: none;
}
.btn-edit-modal {
  background-color: #2f4f4f;
  border: none;
}

.btn-delete {
  background-color: #6b3030;
  border: none;
}
.btn-delete-modal {
  text-transform: uppercase;
  background-color: #6b3030;
  border: none;
}
.btn-voltar {
  background-color: #6b3030;
  border: none;
  text-transform: uppercase;
}
.inputs {
  display: flex;
  flex-direction: column;
}
.inputs label {
  font-weight: bold;
  color: #8a8a8a;
}
.buttons {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-transform: uppercase;
}
.title-modal {
  width: 100%;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  color: #f5f5f5;
}
.title-modal {
  font-size: 1.8rem !important;
  font-weight: bold;
}
.form-control {
  font-size: 1.6rem;
}
.form-control::placeholder {
  font-size: 1.6rem;
}

/* max-width: 991.98px */
@media (max-width: 991.98px) {
  .search-box {
    width: 20rem;
  }
  td {
    font-size: 1.5rem;
  }
  th {
    font-size: 1.5rem;
  }
  .btn-edit {
  }
  .btn-edit i {
    font-size: 1.5rem;
  }
  .btn-delete {
  }
  .btn-delete i {
    font-size: 1.5rem;
  }
}
/* max-width: 767.98px */
@media (max-width: 767.98px) {
  .search-box {
    width: 20rem;
  }
  td {
    font-size: 1.4rem;
  }
  th {
    font-size: 1.4rem;
  }
  .btn-edit {
    font-size: 0;
  }
  .btn-edit i {
    font-size: 1.4rem;
  }
  .btn-delete {
    font-size: 0;
  }
  .btn-delete i {
    font-size: 1.4rem;
  }
}

/*max-width: 575.98px  */
@media (max-width: 575.98px) {
  .search-box {
    width: 20rem;
  }
  td {
    font-size: 1.1rem;
  }
  th {
    font-size: 1.1rem;
  }
  .btn-edit {
    font-size: 0;
  }
  .btn-edit i {
  }
  .btn-delete {
    font-size: 0;
  }
  .btn-delete i {
  }
}
@media (max-width: 320px) {
  .label-box {
  }
  .search-box {
    width: 16rem;
  }
}
